@use '../abstracts/variable';
@use '../abstracts/typographies';

h1, h2, h3 {
  font-family: $font-title;
  @include neon-text($color-primary);
}

a {
  color: $color-secondary;
  text-decoration: none;
  transition: $transition-fast;

  &:hover {
    @include neon-text($color-secondary);
  }
}