@use '../abstracts/variable' as v;
@use '../abstracts/typographies' as t;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: v.$color-bg;
  color: v.$color-light;
  font-family: v.$font-body;
}