@use '../abstracts/variable' as v;
@mixin neon-text($color) {
  color: v.$color;
  text-shadow: 0 0 5px v.$color, 0 0 10px v.$color;
}

@mixin glow-border($color) {
  border: 1px solid v.$color;
  box-shadow: 0 0 10px v.$color;
}
