@font-face {
  font-family: 'roboto';
  font-style: normal;
  font-weight: 400;
  src: url('../font/Roboto-Regular.ttf');
}

@font-face {
  font-family: 'barlow';
  font-style: normal;
  font-weight: 400;
  src: url('../font/Barlow-Regular.ttf');
}
