@font-face {
  font-family: 'roboto';
  font-style: normal;
  font-weight: 400;
  src: url('../font/Roboto_Condensed-Regular.ttf');
}

@font-face {
  font-family: 'magic';
  font-style: normal;
  font-weight: 400;
  src: url('../font/Beleren2016-Bold.ttf');
}
