@use '../abstracts/variable';

.btn {
  padding: 0.75rem 1.5rem;
  font-family: $font-title;
  background: transparent;
  color: $color-light;
  border: 2px solid $color-primary;
  @include glow-border($color-primary);
  cursor: pointer;
  transition: $transition-fast;

  &:hover {
    background: $color-primary;
    color: $color-bg;
    box-shadow: 0 0 20px $color-primary;
  }
}