// components/_buttons.scss

@use "../abstracts/variable" as vars;

@mixin button-base {
  display: inline-block;
  background: vars.$color-primary;
  color: #000;
  font-family: vars.$font-title;
  padding: 0.8rem 1.6rem;
  border: none;
  border-radius: 4px;
  box-shadow: vars.$glow-primary;
  text-transform: uppercase;
  cursor: pointer;
  transition: background vars.$transition-fast, box-shadow vars.$transition-fast;

  &:hover:not(:disabled) {
    background: vars.$color-secondary;
    box-shadow: vars.$glow-secondary;
  }
  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}

.button {
  @include button-base;
  a {
    
  }
}
