// assets/scss/Layout/_header.scss

@use '../abstracts/variable' as v;
@use '../abstracts/typographies';
@use '../base/utilities';
@use '../components/buttons';



// layout/_footer.scss
footer {
  background: v.$color-bg, 10%;
  text-align: center;
  padding: 2rem 0;
  font-family: v.$font-body;
  color: v.$color-light;
  border-top: 1px solid v.$color-primary;

  .social-icons {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 1rem;

    a {
      font-size: 1.2rem;
      color: v.$color-secondary;
      transition: color v.$transition-fast;

      &:hover {
        color: v.$color-primary;
        text-shadow: v.$glow-primary;
      }
    }
  }
}
